<div id="<%= dom_id formulario %>">
  <p>
    <strong>Encabezado:</strong>
    <%= formulario.encabezado %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= formulario.cuerpo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= formulario.tipo %>
  </p>

  <p>
    <strong>Link:</strong>
    <a href= '<%= formulario.link %>'><%= formulario.link %></a>
  </p>

</div>
