<p style="color: green"><%= notice %></p>

<h1>Formularios</h1>

<%= link_to "New formulario", new_formulario_path %>

<br><hr style="border-top: 1px solid black;">

 

  <%= form_tag "", method: "GET" do %>
  
  <%= text_field_tag :q, params[:q] %>
  
  <%= submit_tag "Buscar" %>
<% end %>

 <h2>Busqueda</h2>

 <%= render @formularios %>


