<p style="color: green"><%= notice %></p>

<h1>Formularios</h1>

<%= link_to "New formulario", new_formulario_path %>

<br><hr style="border-top: 1px solid black;">

<%= render 'formularios/search_form' %>




<br><hr style="border-top: 1px solid black;">


<div id="formularios">
  <% @formularios.each do |f| %>
    <%= render f %>
    <p>
      <%= link_to "Show this formulario", f %>
    </p>
  <% end %>
</div>


