




<div class="grid">
  <div>

  	<article>

  <header><b>DEPORTES</b></header>
  
  <%= image_tag 'deportes.jpeg' %>

  <footer><i>DEPORTES</i></footer>

</article></div>
  
  <div>

  	<article>
  
  <header><b>POLÍTICA</b></header>
  
   <%= image_tag 'politica.webp' %><!--img src="../../assets/politica.webp"  alt="política"-->

  
  <footer><i>POLÍTICA</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>INTERNACIONAL</b></header>
 <%= image_tag 'internacional.jpeg' %><!--img src="../../assets/internacional.jpeg"  alt="internacional"-->
  
  <footer><i>INTERNACIONAL</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>NACIONAL</b></header>
 <%= image_tag 'nacional.png' %><!--img src="../../assets/nacional.png"  alt="nacional"-->
  
  <footer><i>NACIONAL</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>FARÁNDULA</b></header>
  
 <%= image_tag 'farandula.png' %><!--img src="../../assets/farandula.png"  alt="farandula"-->
  
  <footer><i>FARÁNDULA</i></footer>

	</article>

</div>

</div>