<!DOCTYPE html>
<html>
  <head>
    <title>Noticiasbuenas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    
  
  </head>

  <body>
    <main class="container">
      <nav>
  <ul>
    <li><h1><strong>Noticias Buenas></strong></h1></li>
  </ul>
  <ul>
    <li><%= link_to 'Inicio', pages_index_path %></li>
    <li><%= link_to 'Formulario', root_path %></li>
    
  </ul>
</nav>

      <%= yield %>
        
      </main>
    
    
  </body>
</html>
